body{
  background-color: #FF8E9E;
}
.container{
  background-color: #FFE1E1;
  min-height: 60vh;
  width: 400px;
  margin: 20px auto;
  border-radius: 20%;
}
h1,h2{
  display: flex;
  justify-content: center;
}
.image{
  border-radius: 10%;
}
.imageTwo{
  margin-top: 300px;
  margin-left: 250px;
  border-radius: 25%;
}
.crossed {
  text-decoration: line-through 2px red;
  background-color: #FFCACA;
}
button {
  background-color: #FF577F;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  }
 .div{
  display: flex;
  justify-content: center;

 }
 input {
  flex:1;
  border-color: #FF577F;
 }